<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <header class="header">
        <section class="container">
            <a href="#mmenu" class="phone-nav glyphicon glyphicon-th-list"></a>
        </section>
        <div class="top">
            <div class="container clearfix">
                <div class="logo pull-left">
                    <a href="/home"><img th:src="@{/cns/images/logo.png}" alt="" /></a>
                </div>
                <div class="navwrap pull-right">
                    <div class="lwt-wrap">
	    				<span>
	    					<img th:src="@{/cns/images/weixin.png}" alt="" />
	    					<div class="erweima">
	    						<img th:src="@{/cns/images/erweima.jpg}" alt="" />
	    					</div>
	    				</span>
                            <a th:if="${session.username == null}" class="toptel" href="/login">登录 | </a>
                            <a th:if="${session.username == null}" class="toptel" href="/register">注册</a>
                            <a th:if="${session.username != null}" class="toptel" href="#" th:text="${session.username}" onclick="" th:attr="id=${session.id}"></a>
                            <a th:if="${session.username != null}"  href="/logout"> | 注销</a>
                    </div>
                    <ul class="nav">
                        <li class="active"><a href="/home">首页</a></li>
                        <li><a href="/about">关于我们</a>
                            <ul class="two">
                                <li><a href="/about">系统简介</a></li>
                                <li><a href="/operate">运营团队</a></li>
                            </ul>
                        </li>
                        <li><a href="/spot/inSchool?type=1">收录地点</a>
                            <ul class="two">
                                <li><a href="/spot/inSchool?type=1">校内地点</a>
                                    <ul>
                                        <li><a href="/spot/inSchool?type=1">学习</a></li>
                                        <li><a href="/spot/inSchool?type=2">美食</a></li>
                                        <li><a href="/spot/inSchool?type=3">娱乐</a></li>
                                        <li><a href="/spot/inSchool?type=4">生活</a></li>
                                    </ul>
                                </li>
                                <li><a href="/spot/NotInSchool?type=1">校外周边</a>
                                    <ul>
                                        <li><a href="/spot/NotInSchool?type=1">学习</a></li>
                                        <li><a href="/spot/NotInSchool?type=2">美食</a></li>
                                        <li><a href="/spot/NotInSchool?type=3">娱乐</a></li>
                                        <li><a href="/spot/NotInSchool?type=4">生活</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/hotSpot/inSchool?type=1">热点推荐</a>
                            <ul class="two">
                                <li><a href="/hotSpot/inSchool?type=1">校内地点</a>
                                    <ul>
                                        <li><a href="/hotSpot/inSchool?type=1">学习</a></li>
                                        <li><a href="/hotSpot/inSchool?type=2">美食</a></li>
                                        <li><a href="/hotSpot/inSchool?type=3">娱乐</a></li>
                                        <li><a href="/hotSpot/inSchool?type=4">生活</a></li>
                                    </ul>
                                </li>
                                <li><a href="/hotSpot/inSchool?type=1">校外周边</a>
                                    <ul>
                                        <li><a href="c">学习</a></li>
                                        <li><a href="/hotSpot/NotInSchool?type=2">美食</a></li>
                                        <li><a href="/hotSpot/NotInSchool?type=3">娱乐</a></li>
                                        <li><a href="/hotSpot/NotInSchool?type=4">生活</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/access/addPage">地点接入</a>
                            <ul class="two">
                                <li><a href="/access/addPage">新增地点</a></li>
                                <li><a href="/access/picture">上传图片</a></li>
                                <li><a href="/access/guide">导游申请</a></li>
                            </ul>
                        </li>
                        <li><a href="/news?type=0">新闻中心</a>
                            <ul class="two">
                                <li><a href="/news?type=0">校园新闻</a></li>
                                <li><a href="/news?type=1">其他新闻</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </header>
</div>
</body>
</html>