<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mnav">
    <nav id="mmenu">
        <ul>
            <li><a href="/home">首 页</a></li>
            <li><a href="/about">关于我们</a>
                <ul>
                    <li><a href="about.html">系统简介</a></li>
                    <li><a href="honor.html">运营团队</a></li>
                </ul>
            </li>
            <li><a href="/pro">收录地点</a>
                <ul>
                    <li><a href="pro.html">校内地点</a>
                        <ul>
                            <li><a href="pro.html">学习</a></li>
                            <li><a href="pro.html">美食</a></li>
                            <li><a href="pro.html">娱乐</a></li>
                            <li><a href="pro.html">生活</a></li>
                        </ul>
                    </li>
                    <li><a href="pro.html">校外周边</a>
                        <ul>
                            <li><a href="pro.html">学习</a></li>
                            <li><a href="pro.html">美食</a></li>
                            <li><a href="pro.html">娱乐</a></li>
                            <li><a href="pro.html">生活</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/case">热点推荐</a>
                <ul>
                    <li><a href="case.html">校内地点</a>
                        <ul>
                            <li><a href="pro.html">学习</a></li>
                            <li><a href="pro.html">美食</a></li>
                            <li><a href="pro.html">娱乐</a></li>
                            <li><a href="pro.html">生活</a></li>
                        </ul>
                    </li>
                    <li><a href="case.html">校外周边</a>
                        <ul>
                            <li><a href="pro.html">学习</a></li>
                            <li><a href="pro.html">美食</a></li>
                            <li><a href="pro.html">娱乐</a></li>
                            <li><a href="pro.html">生活</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/news">新闻中心</a>
                <ul>
                    <li><a href="news.html">校园新闻</a></li>
                    <li><a href="news.html">其他新闻</a></li>
                </ul>
            </li>
            <li><a href="/contact">联系我们</a></li>
        </ul>
    </nav>
</div>
</body>
</html>