<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lnpu.cnsweb.web.dao.PictureDao">
    <resultMap id="pictureMap" type="cn.edu.lnpu.cnsweb.web.model.Picture">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="placeId" column="placeId" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="picName" column="picName" jdbcType="VARCHAR"/>
        <result property="placeName" column="placeName" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updateTime" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="yn" column="yn" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseSql">
        id,placeId,url,picName,placeName,remark,createTime,updateTime,operator,yn
    </sql>

    <select id="getPicturesByPlaceId" parameterType="Long" resultMap="pictureMap">
        select <include refid="baseSql"/>
        from picture
        where placeId = #{spotId,jdbcType=BIGINT}
        and yn = 1
    </select>

    <insert id="insert" parameterType="cn.edu.lnpu.cnsweb.web.model.Picture" useGeneratedKeys="true">
        insert into picture(placeId,url,picName,placeName,remark,createTime,operator) values(#{placeId},#{url},#{picName},#{placeName},#{remark},#{createTime},#{operator})
    </insert>
</mapper>