<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lnpu.cnsweb.web.dao.PlaceDao">
    <resultMap id="placeMap" type="cn.edu.lnpu.cnsweb.web.model.Place">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="placeNameCh" column="placeNameCh" jdbcType="VARCHAR"/>
        <result property="placeNameEn" column="placeNameEn" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="coordinate" column="coordinate" jdbcType="VARCHAR"/>
        <result property="isSchool" column="isSchool" jdbcType="INTEGER"/>
        <result property="isHot" column="isHot" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updateTime" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="yn" column="yn" jdbcType="INTEGER"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="placeDetail" type="cn.edu.lnpu.cnsweb.web.model.PlaceVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="placeNameCh" column="placeNameCh" jdbcType="VARCHAR"/>
        <result property="placeNameEn" column="placeNameEn" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="coordinate" column="coordinate" jdbcType="VARCHAR"/>
        <result property="isSchool" column="isSchool" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="hotPlace" type="cn.edu.lnpu.cnsweb.web.model.PlaceVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <result property="placeNameCh" column="placeNameCh" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="navPlace" type="cn.edu.lnpu.cnsweb.web.model.NavigationPlaceVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="placeNameCh" column="placeNameCh" jdbcType="VARCHAR"/>
        <result property="coordinate" column="coordinate" jdbcType="VARCHAR"/>
        <result property="descr" column="descr" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseSql">
        id,placeNameCh,placeNameEn,alias,coordinate,isSchool,isHot,type,descr,createTime,updateTime,operator,yn,img
    </sql>

    <select id="getPlaceCountByType" resultType="Integer" parameterType="java.util.Map">
        select count(id) from place
        where type = #{type,jdbcType=INTEGER}
        and isSchool = #{isSchool,jdbcType=INTEGER}
        and yn = 1
    </select>

    <select id="getPlaceListByType" resultMap="placeMap" parameterType="java.util.Map">
        select <include refid="baseSql"/>
        from place
        where type = #{type,jdbcType=INTEGER}
        and isSchool = #{isSchool,jdbcType=INTEGER}
        and yn = 1
    </select>

    <select id="getHotPlaceCountByType" resultType="Integer" parameterType="java.util.Map">
        select count(id) from place
        where type = #{type,jdbcType=INTEGER}
        and isSchool = #{isSchool,jdbcType=INTEGER}
        and isHot = 1
        and yn = 1
    </select>

    <select id="getHotPlaceListByType" resultMap="placeMap" parameterType="java.util.Map">
        select <include refid="baseSql"/>
        from place
        where type = #{type,jdbcType=INTEGER}
        and isSchool = #{isSchool,jdbcType=INTEGER}
        and isHot = 1
        and yn = 1
    </select>

    <select id="getPlaceDetailById" resultMap="placeDetail" parameterType="Long">
        select p.id,p.img,p.placeNameCh,p.placeNameEn,p.alias,p.coordinate,p.isSchool,p.type,p.updateTime,p.descr
        from place p
        where p.id = #{spotId,jdbcType=BIGINT}
        and p.yn = 1
    </select>

    <select id="getHotPlaces" resultMap="hotPlace">
        select id,img,placeNameCh
        from place
        where yn = 1
        and isHot = 1
        order by id desc
        limit 0,20
    </select>

    <select id="getNavigationVoByPlaceId" parameterType="Long" resultMap="navPlace">
        select id,placeNameCh,coordinate,descr
        from place
        where id = #{spotId,jdbcType=BIGINT}
        and yn = 1
    </select>

    <insert id="insert" parameterType="cn.edu.lnpu.cnsweb.web.model.Place" useGeneratedKeys="true">
        insert into place (placeNameCh,placeNameEn,alias,isSchool,isHot,type,descr,createTime,operator,img)
        values (#{placeNameCh},#{placeNameEn},#{alias},#{isSchool},#{type},#{descr},#{createTime},#{updateTime},#{operator},#{img})
    </insert>
</mapper>