<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lnpu.cnsweb.web.dao.SpotTypeDao">
    <select id="getAllType" resultType="cn.edu.lnpu.cnsweb.web.model.SpotType">
        select id,typeName,code,yn
        from t_placetype
        where yn = 1;
    </select>
</mapper>