<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>404错误页面</title>
<meta name="Keywords" content="404错误页面"/>
<meta name="Description" content="404错误页面"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link th:href="@{/cns/css/error404.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript">setTimeout(function(){top.location='/';},5000)</script>

</head>
<body>
	<div class="error404">
		<div class="info">
			<h1>404</h1>
			<h2>抱歉，您访问的页面不存在或已被删除！ (｡•ˇ‸ˇ•｡)</h2>
			<p class="p1">5秒钟后将带您返回首页</p>
			<!--<p>The page you are looking for was moved, removed, renamed or might never existed.</p>-->
			<div class="menu">
				<a href="/">首 页</a> | <a href="/about">关于我们</a> | <a href="#">收录地点</a> | <a href="#">热点推荐</a> | <a href="/news">新闻中心</a> | <a href="/contact">联系我们</a>
			</div>
				
			
			<a href="/" class="btn">返回首页</a>
			<a onclick="window.history.go(-1);" class="btn btn-brown">返回上一步</a>
		</div>
		<div class="pic">
			<img th:src="@{/cns/images/404.gif}" alt=" " />
		</div>
	</div>
</body>
</html>