<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>导游申请</title>
    <title>导游申请</title>
    <meta name="keywords" content="导游申请">
    <meta name="description" content="导游申请">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- include main css -->
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/slick.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/jquery.mmenu.all.css}"/>
    <link rel="stylesheet" th:href="@{/cns/css/animate.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/cns/css/jquery.mCustomScrollbar.css}"/>

    <!--[if lt IE 9]>
    <script th:src="@{http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js}"></script>
    <script th:src="@{http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
<div>
    <!--header-->
    <div th:include="/common/header :: nav"></div>

    <!--banner-->
    <section class="banner">
        <img th:src="@{/cns/images/strbanner.jpg}" alt=""/>
    </section>


</div>

<!--面包屑导航 start-->
<div class="mbx">
    <div class="container">
        <div class="nytit pull-left">导游申请</div>
        <menu class="menu pull-left" id="menu">
        </menu>
        <div class="mbxwrap pull-right">
            <a href="/home">首页</a> <span>/</span>
            <a href="/spot/inSchool?type=1">收录地点</a> <span>/</span>
            <em>导游申请</em>
        </div>
    </div>
</div>
<!--面包屑导航 end-->


<div class="nycon">

    <div class="container">
        <input type="hidden" id="placeId" th:value="${placeId}">
        <input type="hidden" id="placeName" th:value="${placeName}">
        <div class="pro proshow">
            <div class="pshowcon">
                <div class="pshowc clearfix">
                </div>
                <div class="detailed">
                </div>
                <div class="inquiry clearfix">
                    <div class="pstit">
                        <span>导游申请</span>
                    </div>
                    <div class="inquirycon pull-left">
                        <div>
                                <label><img id="headImg" th:src="${guide.imgUrl}" width="150" height="200"></label></br>
                                <label class="la7"><input type="button" value="上传头像"></label>
                                <label></label>
                                <label></label>
                                <label><span>姓名</span><input id="name" type="text" th:value="${guide.name}" /><em>*</em></label>
                                <label><span>性别</span><input id="gender" type="text" th:value="${guide.gender}" /><em>*</em></label>
                                <label><span>手机</span><input id="phone" type="text" th:value="${guide.phone}" /><em>*</em></label>
                                <label><span>邮箱</span><input id="email" type="text" th:value="${guide.email}" /></label>
                                <label class="la5"><span>备注</span><textarea id="remark" th:value="${guide.remark}"></textarea></label>
                                <label class="la6"><span>学号</span><input id="studentID" type="text" th:value="${guide.studentID}" /></label>
                                <label class="la7"><input type="button" value="提交" onclick="apply()"/></label>
                        </div>
                        <div class="inimg pull-right">
                            <img th:src="@{/cns/images/inimg.jpg}" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="innews">
</div>
<!--footer start-->
<div th:include="/common/footer :: foot"></div>

<!--footer end-->


<!--移动端  Mmenu-->
<div th:include="/common/mnav :: mnav"></div>


<!--Include Js-->
<script th:src="@{http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js}" type="text/javascript"
        charset="utf-8"></script>

<!--移动端导航-->
<script th:src="@{/cns/js/jquery.mmenu.all.min.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/cns/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/cns/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/cns/js/slick.min.js}"></script>

<!--placeholder-->
<script th:src="@{/cns/js/jquery.placeholder.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/util/common.js}"></script>
<script th:src="@{/cns/js/apply.js}"></script>
<script type="text/javascript">
    $(function () {
        $('input, textarea').placeholder();
    });
</script>
<script>
    jQuery(function () {
        jQuery(window).load(function () {
            $("#cont1").mCustomScrollbar();
        })
    })
</script>
</body>
</html>
