<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>导游申请</title>
    <title>导游申请</title>
    <meta name="keywords" content="导游申请">
    <meta name="description" content="导游申请">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- include main css -->
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/slick.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/jquery.mmenu.all.css}"/>
    <link rel="stylesheet" th:href="@{/cns/css/animate.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/cns/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/cns/css/jquery.mCustomScrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/cns/css/lightbox.css}">

    <!--[if lt IE 9]>
    <script th:src="@{http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js}"></script>
    <script th:src="@{http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
<div>
    <!--header-->
    <div th:include="/common/header :: nav"></div>

    <!--banner-->
    <section class="banner">
        <img th:src="@{/cns/images/strbanner.jpg}" alt=""/>
    </section>


</div>

<!--面包屑导航 start-->
<div class="mbx">
    <div class="container">
        <div class="nytit pull-left">导游申请</div>
        <menu class="menu pull-left" id="menu">
        </menu>
        <div class="mbxwrap pull-right">
            <a href="/home">首页</a> <span>/</span>
            <a href="/spot/inSchool?type=1">收录地点</a> <span>/</span>
            <em>导游申请</em>
        </div>
    </div>
</div>
<!--面包屑导航 end-->


<div class="nycon">

    <div class="container">
        <input id="spotId" type="hidden" th:value="${spot.id}">
        <input id="coordinate" type="hidden" th:value="${spot.coordinate}"/>
        <input id="spotName" type="hidden" th:value="${spot.alias}">
        <div class="pro proshow">
            <div class="pshowcon">
                <div class="pshowc clearfix">
                    <div class="psl pull-left pic">
                        <img class="vcenter" th:src="${spot.img}" alt=""/>
                    </div>
                    <div class="psr pull-right" id="cont1">
                        <h3 th:text="${spot.placeNameCh}"></h3>
                        <span>导游</span>
                        <p th:each="guide,iterStat:${spot.guides}">
                            姓名：<input readonly="true" th:value="${ guide.name}" width="50px;"></br>
                            电话：<input readonly="true" placeholder="登录后可见" width="50px" th:if="${session.username == null }">
                            <input readonly="true" th:value="${ guide.phone}" width="50px" th:if="${session.username != null}"></br>
                        </p>
                        <span>英文名称</span>
                        <p th:text="${spot.placeNameEn}"></p>
                        <span>地点全称</span>
                        <p th:text="${spot.alias}"></p>
                        <span>地点范围</span>
                        <p th:text="${spot.isSchool == 0} ? '校内地点' : '校外周边'"></p>
                        <span>地点类型</span>
                        <p th:if="${spot.type == 1}">学习</p>
                        <p th:if="${spot.type == 2}">美食</p>
                        <p th:if="${spot.type == 3}">生活</p>
                        <p th:if="${spot.type == 4}">娱乐</p>
                        <span>更新时间</span>
                        <p th:text="${spot.updateTime}"></p>
                    </div>
                </div>
                <div class="detailed">
                    <div class="pstit">
                        <span>详细信息</span>
                    </div>
                    <div class="detatxt">
                        <p th:text="${spot.descr}"></p>
                    </div>
                </div>
                <div class="prevnext clearfix">
                    <div class="pnwrap pull-left">
                    </div>
                    <a href="/spot/inSchool?type=1" class="return pull-right">
                        返回列表
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="innews">
</div>
<!--footer start-->
<div th:include="/common/footer :: foot"></div>

<!--footer end-->


<!--移动端  Mmenu-->
<div th:include="/common/mnav :: mnav"></div>


<!--Include Js-->
<script th:src="@{http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js}" type="text/javascript"
        charset="utf-8"></script>

<!--移动端导航-->
<script th:src="@{/cns/js/jquery.mmenu.all.min.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/cns/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/cns/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/cns/js/slick.min.js}"></script>

<!--placeholder-->
<script th:src="@{/cns/js/jquery.placeholder.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/util/common.js}"></script>
<script th:src="@{/cns/js/lightbox.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('input, textarea').placeholder();
    });
</script>
<script>
    jQuery(function () {
        jQuery(window).load(function () {
            $("#cont1").mCustomScrollbar();
        })
    })
</script>
</body>
</html>
