<!DOCTYPE html>
<html lang="en" class="no-js"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>登录</title>
<link rel="stylesheet" type="text/css" th:href="@{/login/css/normalize.css}" />
<link rel="stylesheet" type="text/css"th:href="@{/login/css/login.css}" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" th:href="@{/login/css/component.css}" />
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>辽宁石油化工大学校园导航官网</h3>
						<form action="#" name="f" method="post">
							<div class="input_outer">
								<span class="u_user"></span>
								<input name="logname" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户" id="username">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码" id="password">
							</div>
							<div class="mb2"><a class="act-but submit" href="javascript:;" style="color: #FFFFFF" onclick="doLogin();">登录</a><a class="act-but submit" href="/register" style="color: #FFFFFF" target="_blank">注册</a></div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<!--[if IE]>
		<script th:src="@{/login/js/html5.js}"></script>
		<![endif]-->
		<script  th:src="@{/util/zDialog.js}"></script>
		<script  th:src="@{/util/zDrag.js}"></script>
		<script  th:src="@{/util/common.js}"></script>
		<script  th:src="@{/lib/jquery.min.js}"></script>
		<script  th:src="@{/login/js/TweenLite.min.js}"></script>
		<script  th:src="@{/login/js/EasePack.min.js}"></script>
		<script  th:src="@{/login/js/rAF.js}"></script>
		<script  th:src="@{/login/js/login.js}"></script>
	</body>
</html>