<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>站点地图</title>
	<meta name="keywords" content="站点地图">
	<meta name="description" content="站点地图">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- include main css -->
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/slick.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/jquery.mmenu.all.css}"/>
	<link rel="stylesheet" th:href="@{/cns/css/animate.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/style.css}"/>
	
	<!--[if lt IE 9]>
    <script th:src="@{http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js}"></script>
    <script th:src="@{http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->
	
</head>
<body>
<div>
	<!--header-->
	<div th:include="/common/header :: nav"></div>
			
	<!--banner-->
	<section class="banner">
		<img th:src="@{/cns/images/mapbanner.jpg}" alt="" />
	</section>
	



	
		
</div>
	
<!--面包屑导航 start-->
<div class="mbx">
	<div class="container">
		<div class="nytit pull-left">站点地图</div>
		
		<div class="mbxwrap pull-right">
			<a href="/home">首页</a> <span>/</span>
			<em>站点地图</em>
		</div>
	</div>
</div>
<!--面包屑导航 end-->



<div class="nycon">
	
	<div class="container case-con">
		<div class="map">
			<dl>
				<dt><a href="/home">首页</a></dt>
				<dd>
					<div>
						<a href="/home">首页</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="/about">关于我们</a></dt>
				<dd>
					<div>
						<a href="/about">系统简介</a>
		                <a href="/operate">运营团队</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="/spot/inSchool?type=1">收录地点</a></dt>
				<dd>
					<p class="p2"><a href="/spot/inSchool?type=1">校内地点</a></p>
					<div>
						<a href="/spot/inSchool?type=1">学习</a>
		                <a href="/spot/inSchool?type=2">美食</a>
		                <a href="/spot/inSchool?type=3">娱乐</a>
		                <a href="/spot/inSchool?type=4">生活</a>
					</div>
					<p class="p2"><a href="/spot/NotInSchool?type=1">校外周边</a></p>
					<div>
						<a href="/spot/NotInSchool?type=1">学习</a>
						<a href="/spot/NotInSchool?type=2">美食</a>
						<a href="/spot/NotInSchool?type=3">娱乐</a>
						<a href="/spot/NotInSchool?type=4">生活</a>
					</div>
					
				</dd>
			</dl>
			<dl>
				<dt><a href="/hotSpot/inSchool?type=1">热点推荐</a></dt>
				<dd>
					<p class="p2"><a href="/hotSpot/inSchool?type=1">校内地点</a></p>
					<div>
						<a href="/hotSpot/inSchool?type=1">学习</a>
						<a href="/hotSpot/inSchool?type=2">美食</a>
						<a href="/hotSpot/inSchool?type=3">娱乐</a>
						<a href="/hotSpot/inSchool?type=4">生活</a>
					</div>
					<p class="p2"><a href="/hotSpot/notInSchool?type=1">校外周边</a></p>
					<div>
						<a href="/hotSpot/notInSchool?type=1">学习</a>
						<a href="/hotSpot/notInSchool?type=2">美食</a>
						<a href="/hotSpot/notInSchool?type=3">娱乐</a>
						<a href="/hotSpot/notInSchool?type=4">生活</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="/news?type=0">新闻中心</a></dt>
				<dd>
					<div>
						<a href="/news?type=0">校园新闻</a>
		                <a href="/news?type=1">其他新闻</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="/contact">联系我们</a></dt>
				<dd>
					<div>
						<a href="/contact">联系我们</a>
					</div>
				</dd>
			</dl>
			<dl>
				<dt><a href="/map">网站地图</a></dt>
				<dd>
					<div>
						<a href="/map">网站地图</a>
					</div>
				</dd>
			</dl>
			
		</div>
	</div>
</div>

<div class="innews">
</div>

<!--footer start-->
<div th:include="/common/footer :: foot"></div>


<!--footer end-->


<!--移动端  Mmenu-->
<div th:include="/common/mnav :: mnav"></div>









<!--Include Js-->
<script th:src="@{http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js}" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script th:src="@{/cns/js/jquery.mmenu.all.min.js}" type="text/javascript" charset="utf-8"></script>

<script th:src="@{/cns/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/cns/js/slick.min.js}" ></script>

<!--placeholder-->
<script th:src="@{/cns/js/jquery.placeholder.min.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>
</body>
</html>
