<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>运营团队</title>
	<meta name="keywords" content="辽宁石油化工大学校园导航系统">
	<meta name="description" content="辽宁石油化工大学校园导航系统">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- include main css -->
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/slick.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/jquery.mmenu.all.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/cns/css/style.css}"/>
	<link rel="stylesheet" href="css/lightbox.css">

	<!--[if lt IE 9]>
    <script th:src="@{http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js}"></script>
    <script th:src="@{http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
<div>
	<!--header-->
	<div th:include="/common/header :: nav"></div>

	<!--banner-->
	<section class="banner">
		<img th:src="@{/cns/images/about-banner.jpg}" alt="" />
	</section>






</div>

<!--面包屑导航 start-->
<div class="mbx">
	<div class="container">
		<div class="nytit pull-left">关于我们</div>
		<menu class="menu pull-left" id="menu">
			<div><a href="/about">系统简介</a></div>
			<div><a href="/operate" class="cur">运营团队</a></div>
		</menu>
		<div class="mbxwrap pull-right">
			<a href="/home">首页</a> <span>/</span>
			<a href="/about">关于我们</a> <span>/</span>
			<em>运营团队</em>
		</div>
	</div>
</div>
<!--面包屑导航 end-->



<div class="nycon">
	<div class="container">
		<div class="honor">
			<ul class="clearfix">
				<li class="pic">
					<a href="/cns/images/honor1.jpg" rel="lightbox" class="cboxElement">
						<img class="vcenter" th:src="@{/cns/images/honor1.jpg}" alt="" />
						<div class="zzc">
							<div class="zzctxt">
								<span>系统管理员</span>
								<div class="line"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="pic">
					<a href="/cns/images/honor2.jpg" rel="lightbox" class="cboxElement">
						<img class="vcenter" th:src="@{/cns/images/honor2.jpg}" alt="" />
						<div class="zzc">
							<div class="zzctxt">
								<span>图片管理员</span>
								<div class="line"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="pic">
					<a href="/cns/images/honor3.jpg" rel="lightbox" class="cboxElement">
						<img class="vcenter" th:src="@{/cns/images/honor3.jpg}" alt="" />
						<div class="zzc">
							<div class="zzctxt">
								<span>地点管理员</span>
								<div class="line"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="pic">
					<a href="/cns/images/honor4.jpg" rel="lightbox" class="cboxElement">
						<img class="vcenter" th:src="@{/cns/images/honor4.jpg}" alt="" />
						<div class="zzc">
							<div class="zzctxt">
								<span>导游管理员</span>
								<div class="line"></div>
							</div>
						</div>
					</a>
				</li>
				<li class="pic">
					<a href="/cns/images/honor1.jpg" rel="lightbox" class="cboxElement">
						<img class="vcenter" th:src="@{/cns/images/honor1.jpg}" alt="" />
						<div class="zzc">
							<div class="zzctxt">
								<span>导航资源管理员</span>
								<div class="line"></div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<!--移动端荣誉资质-->
		<div class="phone-honor">
			<ul>
				<li class="pic"><img class="vcenter" th:src="@{/cns/images/honor1.jpg}" alt="" /></li>
				<li class="pic"><img class="vcenter" th:src="@{/cns/images/honor2.jpg}" alt="" /></li>
				<li class="pic"><img class="vcenter" th:src="@{/cns/images/honor3.jpg}" alt="" /></li>
				<li class="pic"><img class="vcenter" th:src="@{/cns/images/honor4.jpg}" alt="" /></li>
				<li class="pic"><img class="vcenter" th:src="@{/cns/images/honor1.jpg}" alt="" /></li>
			</ul>
		</div>
	</div>
</div>


<div class="innews">
</div>

<!--footer start-->
<div th:include="/common/footer :: foot"></div>


<!--footer end-->
<!--移动端  Mmenu-->
<div th:include="/common/mnav :: mnav"></div>











<!--Include Js-->
<script th:src="@{http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js}" type="text/javascript" charset="utf-8"></script>

<!--移动端导航-->
<script th:src="@{/cns/js/jquery.mmenu.all.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/cns/js/lightbox.js}" type="text/javascript"></script>
<script th:src="@{/cns/js/public.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/cns/js/slick.min.js}" ></script>
<script type="text/javascript">
	$(function(){
		$(".phone-honor ul").slick({
			dots:true,
			autoplay:true,
			arrows:false,
		})
	})
</script>
<!--placeholder-->
<script th:src="@{/cns/js/jquery.placeholder.min.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>
</body>
</html>
