<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
	">

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:mapping path="/web/ucenter/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/doLogin"/>
            <mvc:exclude-mapping path="/home"/>
            <mvc:exclude-mapping path="/logout"/>
            <mvc:exclude-mapping path="/web/**"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/cns/**"/>
            <mvc:exclude-mapping path="/lib/**"/>
            <mvc:exclude-mapping path="/login/**"/>
            <mvc:exclude-mapping path="/util/**"/>
            <mvc:exclude-mapping path="/register"/>
            <mvc:exclude-mapping path="/register/**"/>
            <mvc:exclude-mapping path="/doRegister"/>
            <mvc:exclude-mapping path="/"/>
            <mvc:exclude-mapping path="/about"/>
            <mvc:exclude-mapping path="/operate"/>
            <mvc:exclude-mapping path="/error"/>
            <mvc:exclude-mapping path="/contact"/>
            <mvc:exclude-mapping path="/map"/>
            <mvc:exclude-mapping path="/spot/**"/>
            <mvc:exclude-mapping path="/hotSpot/**"/>
            <mvc:exclude-mapping path="/news**"/>
            <bean id="UserInterceptor" class="cn.edu.lnpu.cnsweb.web.interceptor.UserInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
